.carousel-img {
	margin: 0 auto;
	height: fit-content;
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	gap: 10px;
	min-width: 300px;
}

.carousel-image {
	width: 100px;
	height: 100px;
	background-size: contain;
}

.thumbnail-image {
	height: 400px;
	flex: 1 0 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.modal-content p {
	color: white;
}

@media screen and (min-width: 555px) {
	.carousel-img {
		width: 400px;
	}
}

@media screen and (min-width: 1024px) {
	.carousel-img {
		width: 500px;
		margin: 0;
	}
}
