.store-items-container {
	padding-top: 50px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	align-items: center;
	row-gap: 30px;
	column-gap: 100px;
}

@media screen and (min-width: 1440px) {
	.store-items-container {
		/* padding-right: 190px; */
	}
}
