.checkout-container {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	justify-content: center;
	background-color: #000000ad;
	overflow: hidden;
}

.form-container {
	position: relative;
	background-color: white;
	padding: 20px;
	text-align: center;
	width: 80%;
	min-height: 80vh;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.form p {
	margin: 0;
}

.checkout-product-image {
	width: 70px;
	height: 70px;
	background-size: contain;
}

.product-checkout {
	display: flex;
	align-items: center;
	gap: 20px;
}

.product-checkout-info p {
	width: 50%;
	text-align: start;
}
.image-and-title {
	display: grid;
	place-items: center;
	padding: 10px;
}
.image-and-title p {
	width: 100%;
	font-weight: bold;

	text-align: center;
}

.price-calculation {
	width: 200px;
}

.price-calculation p {
	width: 100%;
}

.product-checkout-info {
	display: flex;
	border: 1px solid rgba(128, 128, 128, 0.39);
	border-radius: 10px;
	justify-content: flex-start;
	align-items: center;
	height: fit-content;
	flex-direction: column;
}

.checkout {
	padding: 10px;
	text-align: center;
}

.text-type {
	width: 100%;
	height: 100px;
	border: 1px solid #cccccc;
}

.exit-btn {
	position: absolute;
	top: 20px;
	right: 20px;
	color: black;
	font-size: 40px;
	cursor: pointer;
}

.success {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.form button {
	margin-bottom: 20px;
}

.success-icon {
	font-size: 6em;
	color: #00438b;
	margin-bottom: 0;
}

.checkout-product-image {
	width: 100px;
	height: 100px;
}

.checkout-product-image img {
	width: 100%;
	height: 100%;
}

.input {
	padding: 15px;
	border: 1px solid #cccccc;
	color: #cccccc;
}

@media screen and (min-width: 768px) {
	.form-container {
		width: 80vw;
		padding: 40px;
	}

	.form {
		width: 50%;
		margin: 0 auto;
	}

	.flex-container {
		display: flex;
		align-items: center;
	}

	.checkout-product-image {
		width: 150px;
		height: 150px;
	}
	.image-and-title p {
		font-size: 24px;
		font-weight: bold;
		width: 100%;
	}
}
