.filter-container {
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.filters-menu {
	width: 300px;
}

.category {
	display: flex;
	justify-content: flex-start;
	gap: 10px;
}

@media screen and (min-width: 1440px) {
	.filter-container {
		display: none;
	}

	.shop-container {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}

	.desktop {
		display: block;
		background-color: transparent;
		position: relative;
		width: 25%;
		padding-left: 50px;
	}

	.desktop > .price-filter input {
		width: 80%;
	}

	.desktop > .search input {
		width: 80%;
	}
}
