.open-carousel {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: #000000da;
	z-index: 2;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.open-carousel-image {
	width: 80vw;
	height: 400px;
	background-size: contain;
	background-repeat: no-repeat;
}

.modal-content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	color: white;
	font-size: 1.6em;
	gap: 10px;
}

.product-page-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
}

.product-info {
	/* flex: 0 0 auto; */
	/* width: 101.66666667%; */
	padding: 20px;
}

.delivery-time {
	text-align: center;
	background: #4d82bfda;
	padding: 10px;
}

.delivery-time h3 {
	color: rgba(255, 255, 255, 0.942);
	margin: 0;
}

.delivery-time p {
	color: rgba(255, 255, 255, 0.942);
}

.buy-container {
	display: flex;
	flex-direction: column;
	gap: 20px;
	background: #00000000;
	border: 1px solid #cccccc;
	text-align: center;
	padding: 20px;
}

.buy-container h3 {
	margin: 0;
}

.amount-to-buy-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	border: 1px solid #cccccc;
}

.amount-to-buy-container p {
	user-select: none;
	cursor: pointer;
}

.secure-gateway {
	margin: 30px auto;
	width: 200px;
	height: 120px;
}

.secure-gateway img {
	width: 100%;
	height: 100%;
}

.description-container {
	width: 100%;
}

@media screen and (min-width: 508px) {
	.open-carousel-image {
		width: 400px;
	}
	.product-page-container {
		flex-direction: column;
	}
}

@media screen and (min-width: 768px) {
	.open-carousel-image {
		width: 500px;
		height: 500px;
	}

	.modal-content {
		gap: 40px;
	}

	.secure-gateway {
		margin: 20px auto;
		width: 200px;
		height: 100px;
	}
}

@media screen and (min-width: 1024px) {
	.product-page-container {
		flex-direction: row;
		justify-content: space-evenly;
	}

	.product-info {
		width: 40%;
	}
}
