.header-container {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	background-color: #ffffff;
	color: gray;
	font-size: 14px;
	padding: 20px;
	border-bottom: 1px solid rgba(128, 128, 128, 0.223);
	position: relative;
	font-size: 17px;
}

.logo {
	background-image: url("/src/assets/logo.png");
	background-position: center;
	background-size: cover;
	width: 95px;
	height: 80px;
	margin: 0 auto;
	cursor: pointer;
}

.nav-menu ul {
	list-style: none;
	display: flex;
	gap: 20px;
	padding: 0;
	margin: 0;
	justify-content: start;
	color: black;
}

.nav-menu ul a {
	cursor: pointer;
	color: black;
	font-weight: 500;
}

.header-profile {
	display: flex;
	gap: 15px;
	justify-content: center;
	align-items: center;
	margin-left: 10px;
	border: none;
	color: black;
	border-radius: 4px;
	cursor: pointer;
}

.header-profile a {
	color: black;
	font-weight: 500;
}

.hamburger-menu {
	display: block;
	font-size: 25px;
}

.nav-menu {
	display: none;
}

.header-profile {
	display: none;
}

.menu-opened {
	position: absolute;
	width: 0;
	height: 100vh;
	top: 0;
	right: 0;
	background: rgba(255, 255, 255, 0.877);
	z-index: 2;
	transition: all 0.3s ease-in;
	overflow-x: hidden; /* Hide horizontal scrollbar */
}

.menu-opened.active {
	width: 90vw; /* Adjust as needed */
}

.menu-opened .exit-menu {
	/* Style for your exit menu button */
}

.menu-opened ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	position: relative;
	top: 50px;
	align-items: flex-end;
	right: 20px;
	gap: 20px;
	font-size: 20px;
}

.menu-opened ul a {
	color: rgba(0, 0, 0, 0.932);
	font-weight: bold;
}

.exit-menu {
	font-size: 34px;
	position: relative;
	top: 24px;
	left: 24px;
}

@media screen and (min-width: 768px) {
	.hamburger-menu {
		display: none;
	}

	.nav-menu {
		display: block;
	}

	.header-profile {
		display: block;
	}
}
