.side-menu-container {
	position: absolute;
	top: 0;
	left: 0;
	background: white;
	color: black;
	height: 100vh;
	padding: 80px;
	z-index: 2;
	display: none;
}

.active {
	display: block;
}

.side-menu-container span {
	font-size: 40px;
	display: flex;
	justify-content: end;
	margin-bottom: 10px;
}

.search {
	position: relative;
	padding-bottom: 20px;
	width: 100%;
}

.search input {
	padding: 0.9em 1.2em;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border: 1px solid rgba(128, 128, 128, 0.452);
}

.search button {
	position: absolute;
	right: 10px;
	height: 68%;
}

.price-filter {
	width: 90%;
}

.flex-items-row {
	display: flex;
	gap: 10px;
	align-items: center;
}

@media screen and (min-width: 1440px) {
	.desktop {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 30px;
		background-color: transparent;
		position: relative;
		width: 14vw;
	}
}
