.loading-div {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
}

.lds-ring {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}
.lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 64px;
	height: 64px;
	margin: 8px;
	border: 8px solid rgb(0, 0, 255);
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: rgba(0, 0, 255, 0.5) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
	animation-delay: -0.2s;
}
.lds-ring div:nth-child(2) {
	animation-delay: -0.85s;
}
.lds-ring div:nth-child(3) {
	animation-delay: -0.1s;
	border-color: rgba(0, 0, 255, 0) transparent transparent transparent;
}
.lds-ring div:nth-child(4) {
	border-color: rgba(0, 0, 255, 0) transparent transparent transparent;
}
@keyframes lds-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
