:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color: black;
	background-color: #ffffff;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	padding: 0;
}

@media screen and (min-width: 1024px) {
	body {
		padding: 0 100px 0 100px;
	}
}

h1 {
	font-size: 1.8em;
	color: rgba(0, 0, 0, 0.858);
	line-height: 1.1;
}

h2 {
	color: rgba(0, 0, 0, 0.758);
	line-height: 1.1;
}

h3 {
	color: rgba(0, 0, 0, 0.658);
}

p {
	color: rgba(0, 0, 0, 0.767);
}

button {
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	color: white;
	background: #4d82bf;
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: #646cff;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

a {
	text-decoration: none;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}
